:root {
  --black: #222;
  --white: #ddd;
  --ltgray: #aaa;
  --gray: #888;
  --color: yellowgreen;
  --titlecolor: tomato;
  --header: #000;
  --headercolor: hotpink;
  --hr: cornflowerblue;
}

body {
    font-family: monospace;
    margin: 0;
    font-size: 1rem;
    background-color: var(--black);
    color: var(--white);
}

div {
    max-width: 800px;
    margin: 16px;
}

hr {
    margin: 40px -16px 24px 0px;
    width: 95vw;
    height: 1px;
    border: none;
    background: linear-gradient(to right, var(--hr) 50%, var(--black) 50%);
    background-size: 1.5rem, 100%;
    transform: rotate(-0.5deg);
}

img {
    max-width: 800px;
    width: 100%;
}

.medImg {
    max-width: 395px;
}

.smImg {
    max-height: 120px;
    max-width: 80%;
    width: auto;
    height: auto;
    padding: 24px;
}

.trashImg {
    width: 100%;
    max-width: 350px;
    margin: 8px;
}

a {
    color: inherit;
}

p {
    margin: 16px;
    color: var(--gray);
}

em {
    font-style: normal;
    color: var(--color);
}

i {
    font-size: 0.75rem;
    font-style: normal;
    color: teal;
}

ul {
    list-style-type: square;
}

li {
    padding: 8px;
}

h1 {
    font-size: 1.25rem;
    color: var(--titlecolor);
}

h2 {
    color: var(--ltgray);
    font-size: 1rem;
}

cite {
    color: var(--gray);
}

header, footer {
    background: var(--header);
    color: var(--headercolor);
    padding: 16px;
    text-align: right;
}

footer {
    bottom: 0;
}

.footerLink {
    margin: 8px;
    text-decoration: underline;
    color: hotpink;
}